<div class="card" style="width: 18rem;">
    <img [src]="product.imageUrl" class="card-img-top"
        alt="Product
        Image">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{ product.price | currency
            :"Euro"}}</p>

    </div>
    <product-quantity *ngIf="sc.items[product.key]"
        [shopping-item]="sc.items[product.key]"></product-quantity>
    <button class="btn btn-primary" (click)="addToCart()"
        *ngIf="!sc.items[product.key]">Add
        to Cart</button>
</div>
