<div class="card" style="width: 18rem;">
    <img [src]="product.imageUrl" class="card-img-top"
        alt="Product
        Image">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{ product.price | currency
            :"Euro"}}</p>

    </div>
    <product-quantity *ngIf="sc.getQuantity(product.key); else newToCart"
        [shopping-item]="sc.itemsMap[product.key]"></product-quantity>
    <ng-template #newToCart>
        <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
    </ng-template>
</div>
