
<h2>Shopping Cart</h2>
<ng-container *ngIf="cart$ | async as cart">
    <h5 style="float: left">You have {{cart.cartTotalItems}} items in your cart</h5>
    <button class="btn btn-light" (click)="clearCart()" style="float: right">Clear
        Shopping Cart</button>

    <table class="table table-sm">
        <thead>
            <tr class="row no-gutters">
                <th class="col-4">Product</th>
                <th class="col-4 text-center">Quantity</th>
                <th class="col-4 text-center">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items" class="row no-gutters">
                <td class="col-4">{{ item.title}} <br/>
                        <img [src]="item.imageUrl" alt="Product Image"
                            class="img-thumbnail rounded" style="width:5rem;"></td>
                    <td class="col-4"><product-quantity [shopping-item]="item"
                            [short-display]="true"></product-quantity></td>
                    <td class="col-4 text-center">{{ item.totalPrice | currency
                        :'EUR'}}</td>
                </tr>
                <tr class="row no-gutters">
                    <td class="col-4"></td>
                    <td class="col-4"></td>
                    <td class="col-4 text-center">{{cart.cartTotalPrice |
                        currency :'EUR'}}</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" routerLink="/check-out" style="float:right">Check
            Out</a>
    </ng-container>
