<button class="btn btn-primary" [ngbCollapse]="!isCollapsed"
    (click)="isCollapsed=!isCollapsed">Categories</button>
<div class="d-flex" *ngIf="displayShop">
    <div class="list-group" [ngbCollapse]="isCollapsed">
        <a class="list-group-item list-group-item-action"
            (click)="setCategory('All')" [class.active]="currentC=='All'">All
            categories</a>
        <a class="list-group-item list-group-item-action" *ngFor="let c of
            categories" [class.active]="currentC==c.key"
            (click)="setCategory(c.key)">{{c.name}}</a>
    </div>
    <products [category]="currentC"></products>
</div>