<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">
        <i class="fa fa-leaf"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/shopping-cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>

        <a routerLink="/login" *ngIf="!currentUser else userDropdown">Login</a>
        <ng-template #userDropdown>
            <div ngbDropdown>
                <a id="dropdownBasic1" ngbDropdownToggle>{{currentUser.displayName}}</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>My Orders</button>
                    <button ngbDropdownItem *ngIf="currentUser.isAdmin"
                        routerLink="/admin-orders">Manage
                        Orders</button>
                    <button ngbDropdownItem *ngIf="currentUser.isAdmin">Manage
                        Products</button>
                    <button ngbDropdownItem (click)="logout()">Log Out</button>
                </div>
            </div>
        </ng-template>


    </div>
</nav>