<nav class="navbar navbar-light bg-light fixed-top navbar-expand">
   <div class="container" style="justify-content: flex-start">
    <a class="navbar-brand" routerLink="">
        <i class="fa fa-leaf"></i>
    </a>


    <!--button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" (click)="isCollapsed=
        !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button-->

    <!--div class="collapse navbar-collapse" id="navbarSupportedContent"
        [ngbCollapse]="isCollapsed"-->
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/shopping-cart">
                <i class="fa fa-shopping-cart"></i>
                <span class="badge badge-warning badge-pill"
                    *ngIf="shoppingCart$ | async as cart">{{cart.cartTotalItems}}</span>
            </a>
        </li>
        <li class="nav-item">
            <div ngbDropdown *ngIf="currentUser$ | async as currentUser;
                else userLogin">
                <a id="dropdownBasic1" ngbDropdownToggle>{{currentUser.displayName}}</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem routerLink="/my-orders">My
                        Orders</button>
                    <button ngbDropdownItem *ngIf="currentUser.isAdmin"
                        routerLink="/admin/orders">Manage
                        Orders</button>
                    <button ngbDropdownItem *ngIf="currentUser.isAdmin"
                        routerLink="/admin/products">Manage
                        Products</button>
                    <button ngbDropdownItem (click)="logout()">Log Out</button>
                </div>
            </div>

            <ng-template #userLogin>
                <a routerLink="/login">Login</a>
            </ng-template>


        </li>
    </ul>
</div>
    <!--/div-->
</nav>